<h1>Sign Up</h1>

<%= form_for @user, url: signup_path do |f| %>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <ul>
        <li><%= error %></li>
      </ul>
    <% end %>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br>
  
  <%= f.submit "Create user" %>
<% end %>